<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->
<!-- Mirrored from www.accesscontrols.com.br/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jan 2018 17:07:51 GMT -->
<!-- Added by HTTrack -->

<head>
  

    <meta charset="utf-8">

    <link rel="stylesheet" type='text/css' href="http://www.accesscontrols.com.br/css/normalize.css">
    <link rel="stylesheet" type='text/css' href="http://www.accesscontrols.com.br/css/estilos.css">



    <!-- MENU  MOBILE -->
    <script async type="text/javascript" src="http://www.accesscontrols.com.br/js/jquery.slicknav.js"></script>
    <!-- /MENU  MOBILE -->

    <title>Home - Security Contol</title>
    <base>
    <meta name="description" content="Security Contol´s é uma empresa especializada em controle de acesso e aliando essas duas frentes, atende com instalação de sistema de controle de acesso.">
    <meta name="keywords" content=", ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />



    <meta property="og:description" content="A Security Contol é uma empresa especializada em controle de acesso e aliando essas duas frentes, atende com instalação de sistema de controle de acesso.">

</head>
<body>
    

    <nav class="navbar navbar-dark bg-dark">
        @Html.ActionLink("Inicio", "index", "Account", "Login", new { @class = "navbar-brand" })
        <!-- @Html.ActionLink("Quem Somos ", "qsomos", "Account", "Login", new { @class = "navbar-brand" })-->
        @Html.ActionLink("Contato ", "qcontato", "Account", "Login", new { @class = "navbar-brand" })
        @Html.ActionLink("Acesso via Rm", "qadmm", "Account", "Login", new { @class = "navbar-brand" })
        @Html.ActionLink("Login", "qadm", "Account", "Login", new { @class = "navbar-brand" })

    </nav>

    <div class="bg-header">
        <br>

        <div class="container intro">
            <h1>Security Contol é referência em <span>Controle de acesso</span></h1>
            <br />
            <center><img src="~/img/banner-catracas.jpg" /> </center>
            <p>A Security Contol uma empresa especializada em controle de acesso e aliando essas duas frentes, atende com instalação de sistema de controle de acesso. Atendemos ainda com produção e suporte técnico no seguimento de controle de acesso, tais como , Catraca Biométrica, Controle de Ponto, Relógio de Ponto, cancelas automáticas, Leitor de Proximidade e portões automáticos.</p>

        </div>
    </div>
    <div class="container">

        <div class="content">
            <br class="clear">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">


                </div>
            </div>
            <br class="clear">
            <h2>Security Contol</h2>
            <p>No cenário contemporâneo de uma economia globalizada, uma empresa, tem sempre duas frentes: A primeira é a conquista do desenvolvimento tecnológico para facilidade e ampliação de seus negócios, a segunda é a construção de um ambiente que focalize métodos administrativos para uma melhor organização de seus seguimentos. A Security Contol é uma empresa especializada em controle de acesso e aliando essas duas frentes, atende com instalação de sistema de controle de acesso. Atendemos ainda com produção e suporte técnico no seguimento de controle de acesso, tais como , Catraca Biométrica, Leitor de Proximidade . Com o nosso grande conhecimento na tecnologia de controle de acesso e segurança patrimonial , por isso consideramos talhados para o desafio de oferecer e desenvolver um trabalho de assistência em controle de acesso e seus equipamentos.</p>
            <p>Tecnologia para controlar acesso é a nossa especialidade.</p>
            <p>Por isso nós da Security Contol colocamos a disposição para sua apreciação a nossa competência.</p>
            <h3>Com um bom sistema de controle de acesso você oferece muito mais segurança.</h3>
            <p>Com uma grande experiência no mercado, a Security Contol disponibiliza à sua empresa, a melhor assistência em controle de acesso com profissionais altamente capacitados e especializados.</p>
            <p>Com oficina e laboratório próprio, o nosso serviço em controle de acesso prepara e rapara diversas peças, componentes eletrônicos e equipamentos.</p>
            <p>Escolha a melhor empresa de controle de acesso, escolha a Security Contol que oferece o melhor atendimento em controle de acesso.</p>
            <p>Entre em contato Security Contol para mais informação referentes a controle de acesso de pedestres, veículos, controles e relógios de ponto entre outros serviços.</p>
         
            <p>Para garantir uma operação de qualidade e um excelente desempenho nos equipamentos, possuímos uma equipe altamente qualificada, constantemente treinada e capacitada para as novas tecnologias.</p>
            <p>Security Contol oferece para seus clientes os mais modernos equipamentos quando se trata em controlar o acesso de pessoas.</p>



        </div>
    </div>



    <footer>






        <div class="row">
            <div class="copyright-footer">
                <div class="container">
                    Copyright © Security Contol.
                    <div class="selos">


                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->


</body>


</html>


