@model Controle_Acesso.Models.TB_TURMA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TB_TURMA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SERIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERIODO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERIODO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HORA_ENTRADA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORA_ENTRADA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HORA_SAIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORA_SAIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_CURSO.NOME_CURSO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_CURSO.NOME_CURSO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_TURMA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
